version: 1.0.0.{build}

image: Visual Studio 2022

init:
  - net start MSSQL$SQL2019

branches:
  except:
    - /dev_.*/

environment:
  PRODUCT: HttpMessageSigning
  DISTPATH: ../../dist
  CONFIGURATION: Release
  SQLSERVER:USERID: sa
  SQLSERVER:PASSWORD: Password12!
  SQLSERVER:SERVERNAME: (local)\SQL2019

nuget:
  disable_publish_on_pr: true

install:
  - ps: |
      $env:DOTNET_SKIP_FIRST_TIME_EXPERIENCE = "1"
      $env:DOTNET_CLI_TELEMETRY_OPTOUT = "1"
      $env:DOTNET_NOLOGO = "true"
      Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
      & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.100' -InstallDir "$env:ProgramFiles\dotnet"

build_script:
  - ps: |
      $env:DOTNET_SKIP_FIRST_TIME_EXPERIENCE = "1"
      $env:DOTNET_CLI_TELEMETRY_OPTOUT = "1"
      $env:DOTNET_NOLOGO = "true"
      
      dotnet --version
      
      $PackageVersion = Get-Content version.txt -First 1
      $ProductVersion = "$PackageVersion.$env:APPVEYOR_BUILD_NUMBER"
      
      Add-AppveyorMessage -Message "Determined the version to be $ProductVersion."
      Update-AppveyorBuild -Version $ProductVersion
      
      & "./build.cmd" nopause

test_script:
  - ps: |
      $env:DOTNET_SKIP_FIRST_TIME_EXPERIENCE = "1"
      $env:DOTNET_CLI_TELEMETRY_OPTOUT = "1"
      $env:DOTNET_NOLOGO = "true"
      
      Add-AppveyorMessage -Message "Current repository: $env:APPVEYOR_REPO_NAME"
      Add-AppveyorMessage -Message "PR: $env:APPVEYOR_PULL_REQUEST_NUMBER"
      Add-AppveyorMessage -Message "PR head repository: $env:APPVEYOR_PULL_REQUEST_HEAD_REPO_NAME"
      
      & "./test.cmd" nopause
    
artifacts:
  - path: ./dist/%CONFIGURATION%
    name: dist

deploy: off
